# Python cache
__pycache__/
*.py[cod]
*.class

# Numba cache
*.nbc
*.nbi

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs / outputs / checkpoints
wandb/
runs/
outputs/
checkpoints/
*.pt
*.pth
*.ckpt
